<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="50%" fxFlex.xs="100%">
    <mat-card-title>Register</mat-card-title>
    <form [formGroup]="signinForm" (ngSubmit)="signup(signinForm.value)" fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Username" formControlName="username" autoFocus>
          <mat-error *ngIf="hasError('username', 'required')">Username</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        </mat-form-field>
        <br/>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-raised-button color="primary" [disabled]="loading">Sign Up</button>
      </mat-card-actions>

      <div *ngIf="error" class="error" role="alert">
        <strong>Oops!</strong> {{error}}
      </div>

    </form>
  </mat-card>
</section>
